*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.time {
    width: 212px;
    margin: 10px 50%;
    transform: translateX(-50%);
}

p {
    height: 100px;
    display: inline-block;
    font-size: 3rem;
    margin: 10px;
    text-align: center;
}

.start {
    display: block;
    position: relative;
    padding: 10px 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: #84c227;
    box-shadow: 2px 2px 2px #000000;
}
.start:hover, .stop:hover {
    top: 2px;
    box-shadow: 1px 1px 2px #000000;
}
.start:active, .stop:active {
    top: 4px;
}
.stop {
    display: none;
    position: relative;
    padding: 10px 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: #dc143c;
    box-shadow: 2px 2px 2px #000000;
}

.invisible {
    display: none;
}
.visible {
    display: block;
}